<div class="user-list-container">
  <h1>Users List</h1>
  <div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search users..." /> 
  </div>

  <div *ngIf="errorMessage" class="alert alert-warning">
    {{ errorMessage }} <!-- Muestra el mensaje de error si existe -->
  </div>

  <div *ngIf="!errorMessage && users.length === 0" class="loading-message">
    Cargando usuarios... <!-- Muestra un mensaje de carga si no hay usuarios y no hay error -->
  </div>

  <div *ngIf="!errorMessage && users.length > 0 && filteredUsers.length === 0" class="alert alert-warning">
    Error, usuario no existe <!-- Muestra un mensaje de error si no hay coincidencias en la búsqueda -->
  </div>

  <ul class="user-list" *ngIf="filteredUsers.length > 0">
    <li *ngFor="let user of filteredUsers" class="user-item">
      <h2>{{ user.name }}</h2>
      <p>Email: {{ user.email }}</p>
      <p>Ciudad: {{ user.address.city }}</p>
    </li>
  </ul>

  <!-- Modal de error -->
  <div *ngIf="httpErrorMessage" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <p>{{ httpErrorMessage }}</p>
    </div>
  </div>
</div>